RewriteEngine on
#RewriteRule ^([^/\.]+)/([^/\.]+)\.html index.php?mlsp=$1&action=$2&%{QUERY_STRING}  [L]
RewriteRule ^([^/\.]+)\.html index.php?action=$1&&%{QUERY_STRING}  [L]

RewriteRule service/([a-zA-Z0-9_-]+)-([0-9]*).html service.html?idbaiviet=$2 [L]
RewriteRule menu/([a-zA-Z0-9_-]+)-([0-9]*).html menu.html?idbaiviet=$2 [L]

#RewriteRule san-pham/([a-zA-Z0-9_-]+)-([0-9]*).html sanpham.html?idsp=$2 [L]