/*
 * jQuery Nivo Slider v2.3
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider_bn {
	position:relative;
}
.nivoSlider_bn img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider_bn a.nivo-imageLink_bn {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice_bn {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */

.nivo-caption_bn {
	position:absolute;
	left:0px;
	bottom:0px;
	//background:#000;
	color:#fff;
	opacity:0.8; 
	width:100%;
	z-index:89;
	width:331px;
	height:137px;
	background:url(../images/bg-title.png);
	float:right;
	margin-left:287px;
}
.nivo-caption_bn p {
	padding:5px;
	margin:0;
}
.nivo-caption_bn a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav_bn a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav_bn {
	left:0px;
}
.nivo-nextNav_bn {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav_bn a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav_bn a.active {
	font-weight:bold;
}