.jp-container{
	/*
    width:190px;
    height:450px;
    position:relative;
	float:right;
    padding: 10px 0 !important;
	margin-right:5px
	*/
	

	float:left; text-align:justify;
	height: 325px;
    margin-left: 120px;
    margin-top: 80px;
    padding: 0;
    width: 490px;
	padding-right:10px


}
.jp-container a{
   
    display:block;
    line-height:20px;
    background-color: #fff;
    border-bottom:1px solid #F2F4F8;
    border-top:1px solid #D8DFEA;
}
.jp-container a:first-child{
    border-top:none;
}
.jp-container a:last-child{
    border-bottom:none;
}

.jp-container a h3{ 
    font-size:14px;
    font-weight:bold;
    padding:0px;
	text-transform:uppercase;
}

